.SingleProduct {
    margin-top: 50px;
    padding: 0px 40px;
    .breadDiv {
      a {
        color: #00000085;
        font-size: 12px;
      }
    }
    .AdToy {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .proDetail {
      display: flex;
      justify-content: space-between;
      .left {
        width: 65%;
      }
      .imageSlider {
        position: relative;
        border: 1px solid #00000038;
        .carousel .thumbs-wrapper {
          margin: 0px;
        }
      }
      .carousel .slide img {
        width: 80%;
      }
      .imageDiv {
        width: 100%;
      }
      .feature {
        position: absolute;
        color: black;
        background: yellow;
        z-index: 99;
        top: 10px;
        left: 0px;
        padding: 2px 5px;
      }
      .proDes {
        border: 1px solid #00000038;
        padding: 20px;
        margin-top: 10px;
        .detail {
          display: flex;
          p {
            width: 25%;
            color: #00000096;
          }
        }
      }
      .Price {
        width: 33%;
        .price11 {
          border: 1px solid #00000038;
          padding: 10px 13px;
          border-radius: 4px;
          .priceDet {
            display: flex;
            justify-content: space-between;
            //   align-items: center;
            padding: 0px 0px 33px 0px;
            p {
              font-size: 14px;
              color: #00000096;
            }
            .iconDiv {
              display: flex;
              .icon {
                font-size: 22px;
                margin-left: 10px;
                padding: 10px;
              }
            }
          }
          .locDate {
            display: flex;
            justify-content: space-between;
            p {
              font-size: 14px;
              color: #00000096;
            }
          }
        }
        .sellerDes {
          border: 1px solid #00000038;
          padding: 10px 13px;
          border-radius: 4px;
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .avatar {
            width: 25%;
          }
          .name {
            width: 75%;
            h2 {
              margin: 0px;
            }
            p {
              font-size: 14px;
              color: #00000096;
            }
          }
          .chatButton {
            width: 100%;
            margin-top: 20px;
            button {
              width: 100%;
              border-radius: 4px;
              border: 5px solid #002f34;
              padding: 8px 27px;
              font-weight: 700;
              background-color: #002f34;
              color: white;
  
              &:hover {
                background-color: initial;
                color: #002f34;
              }
            }
            .number {
              display: flex;
              font-size: 19px;
              align-items: center;
              justify-content: center;
              margin-top: 15px;
              p {
                margin: 0px;
              }
              .icon {
                transform: rotateZ(105deg);
              }
              .show {
                font-size: 13px;
                padding: 0px 10px;
                color: blue;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .Relatedads {
        border: 1px solid #0000001f;
        margin-top: 10px;
  
        padding: 10px 13px;
        border-radius: 4px;
        .Product {
          width: 100%;
          height: 266px;
          background-color: white;
          padding: 10px 0px 0px 0px;
          border-radius: 5px;
          margin: 5px;
          .feature {
            font-size: 10px;
            font-weight: bolder;
            // padding: 19px;
            width: 100%;
            // height: 31px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 1px 10px;
            p {
              background-color: #ffce32;
              padding: 1px 8px;
            }
            .icon {
              font-size: 20px;
              float: right;
            }
          }
          .productImage {
            width: 100%;
            height: 60%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .border {
            border-left: 6px solid #ffce32;
          }
          .detail {
            padding: 10px 20px;
            height: 40%;
            h3 {
              margin: 2px 0px;
            }
            .Modal {
              margin: 0px;
              font-size: 14px;
            }
            .des {
              color: #0000006b;
            }
            .moment {
              font-size: 10px;
              color: #00000069;
              margin: 0px;
              float: right;
            }
          }
        }
      }
    }
  }
  