.Home {
    .pamphlet {
      height: 234px;
      background-position: center;
      background-size: cover;
    }
    .Advert {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      img {
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  .slider {
    width: 100%;
    padding: 10px 50px;
  }
  .More {
    // height: 100px;
    background-color: #ebeeef;
    padding: 20px;
    border-radius: 5px;
    .moreHead {
      align-items: center;
      justify-content: space-between;
      display: flex;
      p {
        font-size: 14px;
        font-weight: bolder;
        border-bottom: 2px solid black;
        cursor: pointer;
        &:hover {
          border: none;
        }
      }
    }
    ul {
      height: 100%;
      li {
        height: 100%;
        width: 25%;
      }
    }
    .Product {
      width: 95%;
      height: 266px;
      background-color: white;
      padding: 10px 0px 0px 0px;
      .feature {
        font-size: 10px;
        font-weight: bolder;
        // padding: 19px;
        width: 100%;
        // height: 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px 10px;
        p {
          background-color: #ffce32;
          padding: 1px 8px;
        }
        .icon {
          font-size: 20px;
        }
      }
      .productImage {
        width: 100%;
        height: 60%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .detail {
        padding: 10px 20px;
        border-left: 6px solid #ffce32;
        height: 40%;
        h3 {
          margin: 2px 0px;
        }
        .Modal {
          margin: 0px;
          font-size: 14px;
        }
        .des {
          color: #0000006b;
        }
        .moment {
          font-size: 10px;
          color: #00000069;
          margin: 0px;
          float: right;
        }
      }
    }
  }
  .FreshRec {
    padding: 25px 50px;
    h2 {
      color: #00000029;
    }
  }
  .AllProduct {
    display: flex;
    flex-wrap: wrap;
    .infinite-scroll-component,
    .infinite-scroll-component__outerdiv {
      width: 100% !important;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
      }
    }
    .Product {
      width: 24%;
      height: 266px;
      background-color: white;
      padding: 10px 0px 0px 0px;
      border: 1px solid #0000001f;
      border-radius: 5px;
      margin: 5px;
      @media screen and (max-width: 768px) {
          width: 40%;
          
      }
      .feature {
        font-size: 10px;
        font-weight: bolder;
        // padding: 19px;
        width: 100%;
        // height: 31px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 1px 10px;
        p {
          background-color: #ffce32;
          padding: 1px 8px;
        }
        .icon {
          font-size: 20px;
          float: right;
        }
      }
      .productImage {
        width: 100%;
        height: 60%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .border {
        border-left: 6px solid #ffce32;
      }
      .detail {
        padding: 10px 20px;
        height: 40%;
        h3 {
          margin: 2px 0px;
        }
        .Modal {
          margin: 0px;
          font-size: 14px;
        }
        .des {
          color: #0000006b;
        }
        .moment {
          font-size: 10px;
          color: #00000069;
          margin: 0px;
          float: right;
        }
      }
    }
    .loadMorebtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0px 0px 0px;
      button {
        width: 97px;
        height: 45px;
        background: transparent;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 4px;
        &:hover {
          border: 4px solid black;
        }
      }
    }
  }
  .ad2 {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  .appAdd {
    padding: 0px 70px;
    display: flex;
    align-items: center;
    background-color: #f7f8f9;
    margin-top: 45px;
  @media screen and (max-width:768px) {
      padding: 0px;
      
  }
    .appImg {
      width: 40%;
    }
    .appIntro {
      // text-align: center;
      // display: flex;
      padding: 30px 15px 0px 10px;
      height: 190px;
      width: 35%;
      p {
        font-size: 18px;
      }
    }
    .appLink {
      border-left: 1px solid rgba(0, 47, 52, 0.2);
      width: 29%;
      padding: 30px;
      @media screen and (max-width:768px) {
              display: flex;
      flex-direction: column;
      align-items: center;
      }
      .store {
        display: flex;
        @media screen and (max-width:768px) {
          flex-direction: column;
        }
        img {
          width: 108px;
          height: 34px;
          margin-right: 10px;
          @media screen {
          margin-bottom: 10px;
              
          }
        }
      }
    }
  }
  